RewriteEngine on
RewriteCond	%{REQUEST_URI} ^.*/\.svn/.*$
RewriteRule	.* / [F]

RewriteRule	^vl/bc.jsp$	/ojn_local/bootcode/bootcode.default	[L]

RewriteCond	%{REQUEST_URI} !^.*openjabnab\.php.*$
RewriteCond	%{REQUEST_URI} !/ojn_local/
RewriteCond	%{REQUEST_URI} !/ojn_admin/
RewriteCond	%{REQUEST_URI} !/favicon.ico
RewriteRule	^.*$	/openjabnab.php	[L]
